.aggregationModalContainer {
  background-color: rgba(0, 255, 255, 0.336);
  width: inherit;
  height: 50dvh;
}


table {

}
/* header */
table thead tr th {

}
/* row */
table tbody tr {

}
/* cell */
table tbody tr td{

}